<p>Hello world!</p>
<form action="/view" method="post">
  <input class="button" type="submit" value="View Bookmarks" name="view">
</form>
<form action="/add" method="post">
  <input class="button" type="submit" value="Add Bookmark" name="add">
</form>